/*Page*/
.container{
    font-family: Quicksand;
}

h2{    
    color: #364e43;
    font-size: 45px;
    font-weight: bold;
}

/*Card*/
.card{
    height: 90%;
    width: 80%;
    border-width: 2px;
    border-color: #364e43; 
    border-radius: 20px;
    overflow: hidden  
}

.card-img-top{
    max-height: 250px;
    object-fit: cover;
}

h5{
    color: #364e43;
    font-size: 25px;
    font-weight: bold;
}

.card-text{
    color: #364e43;
    font-size: 15px;
    font-weight: medium;
}

/*Edit button*/
.btn-edit{
    color: #ffffff;
    font-family: 'Quicksand medium';
    font-size: 15px;
    background-color: #c3ae80;
}

.btn-edit:hover{
    background-color: rgb(255, 255, 255);
    border-width: 1px;
    border-color: #c3ae80;
    color: #c3ae80;
}

/*Add button*/
.btn-add{
    display: flex;
    justify-content: center;
    color: #364e43;
    font-size: 200px;
    font-weight: medium;
    border-color: #364e43; 
    border-style: dashed;
    border-radius: 30px;
}

.btn-add:hover{
    background: #364e43;
    color: #ffffff;
}

.btn-add-green{
    background: #364e43;
    color: #ffffff;
}

/*Delete button*/
.btn-delete{
    background: #bb5127;
    color: #ffffff;
    margin-left: 5px;
}

.btn-delete:hover{
    background-color: rgb(255, 255, 255);
    border-width: 1px;
    border-color: #bb5127;
    color: #bb5127;
}

.modal-title{
    font-size: 30px;
}

.modal-btn{
    font-size: 20px;
}

.modal-body{
    font-size: 20px;
}