/*Page*/

.container{
    font-family: Quicksand;
}

h2{    
    color: #364e43;
    font-size: 45px;
    font-weight: bold;
}

/*Delete button*/
.btn-logout{
    display: block;       
    margin: 0 auto;
    background: #bb5127;
    color: #ffffff;
}

.btn-logout:hover{
    background-color: rgb(255, 255, 255);
    border-width: 1px;
    border-color: #bb5127;
    color: #bb5127;
}