
.wrapper{
    position: fixed;
    width: 100%;
    height: 100%;

    background-image: url("/login/login_background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container .login form {
    text-align: left;
}

.login {
    font-family: 'Quicksand';
    font-size: 150%;
    color: #c3ae80;
}

.btn-main {
    color: #000000;
    font-family: 'Quicksand medium';
    font-size: 90%;
    background-color: #c3ae80;
}

.form-control {
    background-color: #e4edea;
    opacity: 0.5;
    border-color: none;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.3);
}

.form-control, .btn {
    font-size: 90%;
    width: 100%;
    max-width: 700px;
    border-radius: 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 6);
}

img {
    height: auto;
    margin-bottom: 2rem;
    width: 450px;
}

.remember{
    text-align: right;
    font-size: 70%;
}


.password-group-width {
    width: 700px;
    max-width: 100%;
}

.password-toggle-btn {
    font-size: 80%;
    align-items: center;
    height: 70%;
    background-color: #c3ae80;
    border: none;
    color: #4A4A4A;
}

.password-input-row {
    width: 100%;
    max-width: 700px;
}

.password-input-row .form-control {
    flex-grow: 1;
    flex-shrink: 1;
    width: 100%;
    border-radius:  2rem 0rem 0rem 2rem !important;
    padding-right: 70px; 
}

.password-input-row .password-toggle-btn {
    flex-shrink: 0;
    height: 46px;
    width: 100px;
    
    
    left: -70px;
    border-radius:  0 2rem 2rem 0 !important;
    background-color: #c3ae80;
    display: flex;
    justify-content: center;

}

.required {
    color: rgb(210, 0, 0);
    font-size: 70%;
    font-weight: bold;
}
